html {
  background-color: #FFF8DC;
}

a:link, a:visited, a:active {
  outline: 0px none;
  color: grey;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.header {
  width: 60%;
  min-width: 350px;
  font-size: 32px;
  border: 1px solid black;
  margin: 0px auto 0px auto;
  text-align: center;
  padding: 5px;
  background-color: grey;
  color:black;
}

.special {
  font-weight: normal !important;
  color:black !important;
}

.container {
	width: 50%;
  min-width: 300px;
	margin: 0px auto 0px auto;
	border: 1px solid black;
	text-align: center;
  padding-top: 10px;
}

.mark-legend {
  display: none;
  margin-bottom: 20px;
}

.human-choice, .computer-choice {
  height: 25px;
  width: 25px;
  display: inline-block;
  position: relative;
  top: 7px;
}

.game-status {
  display: none;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: green;
}

.start-selection {
  margin: 0 auto;
}

.selection-wrapper {
  margin-bottom: 20px;
  margin-top: 10px;
}

.x-mark-choice, .o-mark-choice {
  height: 80px;
  width: 80px;
  display: inline-block;
  border: 1px solid black;
  cursor: pointer;
}

.o {
  background-image: url("o.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.x {
  background-image: url("x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.ai-first, .human-first {
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
}

.selected-border {
  border: 5px solid #77b55a;
}

.button-style {
  -moz-box-shadow: 0px 10px 14px -7px #3e7327;
  -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
  box-shadow: 0px 10px 14px -7px #3e7327;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
  background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
  background-color:#77b55a;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #4b8f29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff !important;
  font-family:Arial;
  font-size:21px;
  font-weight:bold;
  padding:10px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #5b8a3c;
  margin-bottom: 50px;
}
.button-style:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
  background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
  background-color:#72b352;
  text-decoration: none;
}
.button-style:active {
  position:relative;
  top:1px;
}

.tt-container {
  border: 1px solid #808080;
  display: table;
  height: 300px;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 50px;
}
div[class*='row-'] {
  display: table-row;
}
div[class*='cell-'] {
  display: table-cell;
  border: 1px solid #808080;
}

.footer {
  width: 50%;
  min-width: 300px;
  margin: 0px auto 0px auto;
  text-align: center;
  margin-bottom: 30px;
  padding: 10px;
}